<div class="footer bg-main">
  <div class="py-3 container">
    <div class="head">
      <h4 class="text-color fw-bold fs-3">Get Store-Market App</h4>
      <p class="text-color fs-5">We will send a link you open it on your phone to download the app</p>
    </div>
    <div class="d-flex justify-content-between">
      <input class="form-control w-75" type="email" placeholder="Email...">
      <button class="bg-light text-black p-1 btn">Share App Link</button>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <p class="text-color payment">Payment Partners</p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="text text-color">Get deliveries with Store-Market</p>
        <img class="img" src="../../assets/apple-app-store-logo.jpg" alt="">
        <img  src="../../assets/en_badge_web_generic.png" alt="">
      </div>
    </div>
    <hr>
  </div>
</div>

