.footer {
  background-color: #f0f3f2;
}
input {
  margin-left: 20px;
}
button {
  width: 190px;
}
.footer img {
  max-width: 100px;
}
.footer .img {
  max-width: 100px;
  height: 28px;
}
.footer .text {
  margin-top: 17px;
  margin-right: 10px;
}
hr {
  color: #3333338a;
}
