
input {
  margin-left: 20px;
}
button {
  width: 190px;
}
.footer img {
  max-width: 100px;
}
.footer .img {
  max-width: 100px;
  height: 28px;
}
.footer .text {
  margin-top: 17px;
  margin-right: 10px;
}
hr {
  color: #fff;
}
@media (max-width: 572px) {
  .head h4,
  .head p {
    text-align: center;
  }

  .d-flex {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }

  .footer .payment {
    margin: 0;
    font-size: 20px;
  }

  .footer .text {
    margin: 0;
    font-size: 20px;
  }
}
