<div class="row">
  <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-12">
    <div class="product">
      <a [routerLink]="['/productdetails', product.id]">
        <img src="{{product.images[0]}}" alt="">
        <h5>{{product.title}}</h5>
        <div class="d-flex justify-content-between align-items-center">
          <span class="price fw-bolder fs-5 c-main">{{product.price|currency}}</span>
          <div>
            <p class="fw-bold c-black fs-6">Rating:
              <span [ngStyle]="{'color': (product?.rating < 3) ? 'red' : 'green'}">{{product?.rating}}</span>
            </p>
          </div>
        </div>
      </a>
      <button (click)="addToCart(product)" class="bg-main">Add To Cart</button>
    </div>
  </div>
</div>
