<div class="container m-2 gx-0">
  <div class="row">
    <div class="col-md-9">
      <img class="img-fuled" src="../../assets/img2.jpeg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images.jpeg" alt="">
    </div>
  </div>
  <h3 class="fw-bolder c-main">Category</h3>
  <owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide *ngFor="let cate of categrois">
      <p class="c-main  fw-bolder text-center">{{cate}}</p>
    </ng-template>
  </owl-carousel-o>
</div>
