<div class="row mt-5 gx-0">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img height="300" src="../../assets/slid.jpeg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img height="300" src="../../assets/slid2.jpeg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img height="300" src="../../assets/slid3.jpeg" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img style="width: 100%;" height="150" src="../../assets/slid2.jpeg" alt="">
    <img style="width: 100%;" height="150" src="../../assets/slider-image-1.jpeg" alt="">
  </div>
</div>
